@import 'button';
@import 'color';

* {
    margin: 0;
    padding: 0;
} 

h1{
    text-align: center;
    margin:auto;
    padding: 5rem 0;
    max-width: 450px;
    color: $color-blue;
    font-size: 35px;

}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;;
    margin: auto;
    align-items: center;
    max-width: 400px;
    height: 450px;
    border: 1px solid rgb(133, 131, 131);
    border-radius: 8px;
    background-color: rgb(238, 236, 236);
    img{ 
       width: 90%;
       height: auto;
       padding:15% 0;
    }    
    .button{
        @include button;
    }    
}


// PAGE CONNECT.HTML

.container{
    display: flex;
    row-gap: 1rem;
    justify-content: center;
    margin-top:7rem;
    column-gap: 3rem;
    flex-wrap: wrap;
    form{
        border: 1px solid #000;
        padding: 2rem;
        margin-bottom:7rem;
        width:17rem;
        height:17rem;
        background-color: rgb(238, 236, 236);
        border-radius: 8px;
        position: relative;
        h2{
            color:$color-blue;
            padding: 1rem 0;
        }
        label{
            display: block;
            padding-bottom:3px;
        }
        input{
            padding: 3px 0;
            border-radius: 5px;
            border-color: transparent;
        }
        p{
            padding-bottom: 1rem;
        }
        .btn_enter{
            @include button;
            position: absolute;
            bottom: 30px;
            left:20%;
        }
    }
} 

.return{
    @include button;
    margin-left: 46%;
}
