@import 'button';
@import 'color';

* {
    margin: 0;
    padding: 0;
} 

h1{
    text-align: center;
    margin:auto;
    padding: 5rem 0;
    max-width: 450px;
    color: $color-blue;
    font-size: 35px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap:1rem;
    &-reset{
        text-decoration: none;
        color: rgb(139, 74, 139);
        max-width:7rem;
        text-align: center;
        padding-top:5px;
        &:hover{
            text-decoration: underline;
            color: #123456;
        }
    }
   &-connect{
    @include buttonConnect;
    background-color: $color-grey;
    margin: 3px;
    } 
}
 
.carousel{
    max-width: 100%;
    & .carousel-slick img{
        object-fit: contain;
    }
}

//DOM OF INDEX.HTML
#user{
    text-transform: capitalize;
    color: #000;
    padding: 10px 10px 0 0;
    & img {
        cursor: pointer;
        display: inline-block;     
        position: relative;    
        z-index: 1;     
        padding: 1em;     
        margin: -1em; 
    }
}

#disconnect {
    @include buttonConnect;
    background-color: $color-blue-grey;
    color: #fff;
    padding: 4px 8px;
    cursor: pointer;
    visibility: hidden;
    &:hover{
        background-color: #fff;
        color: $color-blue-grey;
        border: 1px solid $color-blue-grey;
    }
}

#changePhotoCarousel{
    float:right; 
    margin-right:18px;
    @include buttonConnect;
    background-color: $color-blue-grey;
    color: #fff;
    visibility: hidden;
    &:hover{
        color: $color-blue-grey;
        border: 1px solid $color-blue-grey;
    }
}

// PAGE CONNECT.HTML
.container{
    display: flex;
    row-gap: 1rem;
    justify-content: center;
    margin-top:7rem;
    column-gap: 3rem;
    flex-wrap: wrap;
    form{
        text-align: center;
        border: 1px solid #000;
        padding: 2rem;
        margin-bottom:7rem;
        width:17rem;
        height:19rem;
        background-color: rgb(238, 236, 236);
        border-radius: 8px;
        position: relative;
        h2{
            color:$color-blue;
            padding: 1rem 0;
        }
        label{
            display: block;
            padding-bottom:3px;
            text-align: left;
        }
        input{
            width:100%;
            padding: 3px 0;
            border-radius: 5px;
            border-color: transparent;
            &:focus{
                outline: none;
                background-color: rgba(162, 206, 223, 0.705);
            }
        }
        #username{
            text-transform: capitalize;
        }
        p{
            padding-bottom: 1rem;
        }
        .btn_enter{
            @include buttonConnect;
            position: absolute;
            bottom: 30px;
            left:20%;
            width: 60%;
            background-color: $color-blue;
            color: #fff;
            &:hover{
                color: $color-blue;
            }
        }
    }
} 

.back{
    text-align: center;
    &-btn{
        @include buttonConnect;
        background-color: $color-blue;
        color: #fff;
        &:hover{
            color: $color-blue;
        }
    }
}
